<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />


<div class="container my-5">
    <h2 class="text-primary">What users think about our service</h2>

    <!-- כפתור להצגת/הסתרת הפידבקים -->
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#feedbackSection" aria-expanded="false" aria-controls="feedbackSection">
        Show/Hide Feedbacks
    </button>

    <!-- אזור הפידבקים הנגלל -->
    <div class="collapse mt-3" id="feedbackSection">
        @if (ViewBag.ServiceFeedbacks == null || !((List<(string, int, string, DateTime)>)ViewBag.ServiceFeedbacks).Any())
        {
            <p>No feedbacks yet. Be the first to rate our service!</p>
        }
        else
        {
            <ul class="list-group">
                @foreach (var feedback in (List<(string UserName, int Rating, string Feedback, DateTime FeedbackDate)>)ViewBag.ServiceFeedbacks)
                {
                    <li class="list-group-item">
                        <strong>@feedback.UserName</strong> rated:
                        <!-- כוכבים לדירוג -->
                        <div class="star-rating">
                            @for (int i = 1; i <= 5; i++)
                            {
                                if (i <= feedback.Rating)
                                {
                                    <span class="fa fa-star checked"></span>
                                }
                                else
                                {
                                    <span class="fa fa-star"></span>
                                }
                            }
                        </div>
                        
                        <em>@feedback.FeedbackDate.ToShortDateString()</em>
                        <br />
                        @if (!string.IsNullOrEmpty(feedback.Feedback))
                        {
                            <p>@feedback.Feedback</p>
                        }
                    </li>
                }
            </ul>
        }
    </div>
</div>