@model LibraryApp.Models.ResetPasswordModel

<div class="container mt-5">
    <h2 class="text-primary">Reset Your Password</h2>
    <form method="post" action="/HomePage/ResetPassword">
        <input type="hidden" name="Token" value="@Model.Token" />
        <div class="mb-3">
            <label for="Password" class="form-label">New Password</label>
            <input type="password" class="form-control" name="Password" required />
            @Html.ValidationMessageFor(x => x.Password)
        </div>
        <button type="submit" class="btn btn-success">Update Password</button>
   
    </form>
</div>
